# Database Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DBNAME=aiResumebuilder

# Better Auth Configuration
BETTER_AUTH_SECRET=your-super-secret-key-here
NEXT_PUBLIC_AUTH_BASE_URL=http://localhost:3000

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# ImageKit Configuration
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key
IMAGEKIT_PUBLIC_KEY=your-imagekit-public-key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-imagekit-id

# AI Configuration (Optional)
GEMINI_API_KEY=your-gemini-api-key
GEMINI_BASI_URL=https://generativelanguage.googleapis.com/v1beta

# Node Environment
NODE_ENV=production
